<% provide(:title, 'Event | Items') %>
    
<h2 class="center-txt-align"> <%= @event.event_name %> </h2>
<h3 class="center-txt-align page-header-top">Items </h3>

<% @event_items_per_type.each do |item_type| %>

  <div class="row">
    <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr class="top-th-tr">
        <th colspan="5" class="center-txt-align"><%= item_type.first.item_type_name %> </th>
      </tr>  
      <tr>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>No. of Times</th>
        <th>Cost Per Unit</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% item_type.each do |item| %>
          <tr>
            <td><%= item.item_name %></td>
            <td class="right-txt-align"><%= format_number(item.quantity) %></td>
            <td class="right-txt-align"><%= format_number(item.days) %></td>
            <td class="right-txt-align"><%= format_number(item.cost1_per_unit) %></td>
            <td class="right-txt-align"><%= format_number(item.item_total) %></td>
          </tr>
      <% end %>
      <tr>
        <th colspan="4">Total</th>
        <td class="right-txt-align"> <%= format_number(item_type.first.item_type_total) %> </td>
      </tr>
    </tbody>  
    </table>
  </div>

<% end %>

<div class="row"> 
  <table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr class="top-th-tr">
      <th colspan="2" class="center-txt-align"> Summary </th>
    </tr>
    <tr>
      <th>Item Category</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>  
    <% @item_types_for_event.each do |item_type| %>
        <tr>
          <td> <%= item_type.item_type_name %> </td>
          <td class="right-txt-align">  <%= format_number(item_type.total) %> </td>
        </tr>
    <% end %>
    <tr>
      <th> Total </th>
      <td class="right-txt-align"> <%= format_number(@event_cost) %> </td>
    </tr>
  </tbody>  
  </table>
</div>

<div class="row center-txt-align download">
 <%= link_to 'Download as .xlsx', event_info_path(@event, format: :xlsx, event_info_type_id: '1'), method: :post, target: 'blank' %>
</div>
 



